### Directory
private/
link/
terminal/starship_cache
kafka/kafka
kafka/docker-compose.yml
git/themes.gitconfig

### skills tool artifacts ###
utils/.agents/
utils/skills-lock.json

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride
